<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
  <link type="text/css" rel="stylesheet" href="/stylesheets/style.css"/>
  <style type="text/css">

  

  </style>
</head>
<body>
  <input type="hidden" id="dir" value="<%if(dir) { %><%=dir%> <%}%>">
  <div id = "breadcrumbs"></div>
  <div id = "pack"></div>
  <script type="text/javascript" src="/javascripts/d3.js"></script>
  <script type="text/javascript" src="/javascripts/underscore.js"></script>
  <script type="text/javascript" src="/javascripts/du.js"></script>
  <script type="text/javascript">


  var w = 1280,
  h = 800,
  r = 800,
  x = d3.scale.linear().range([0, r]),
  y = d3.scale.linear().range([0, r]),
  node,
  root
  ;

  var pack = d3.layout.pack()
  .size([r, r])
  .value(function(d) { return d.size; })
  .children(function(d){ return d.nodes});

  var vis = d3.select("div#pack").insert("svg:svg", "h2")
  .attr("width", w)
  .attr("height", h)
  .append("svg:g")
  .attr("transform", "translate(" + (w - r) / 2 + "," + (h - r) / 2 + ")");

  d3.json("/xtree.json", renderData);

  breadcrumbs(document.getElementById("dir").value);

  </script>
</body>
</html>
